{:enums
 {:subscription_event
  {:values [:RESET :UPDATE :DELETE]}}

 :objects
 {:person
  {:fields {:id {:type (non-null ID), :resolve :_id}
            :name {:type (non-null String)}
            :retired {:type Boolean}}}

  :category
  {:fields {:id {:type (non-null ID), :resolve :_id}
            :name {:type (non-null String)}
            :retired {:type Boolean}}}

  :person_event
  {:fields {:kind {:type :subscription_event}
            :values {:type (list :person)}}}

  :category_event
  {:fields {:kind {:type :subscription_event}
            :values {:type (list :category)}}}}

  ;:Transaction
  ;{:fields
  ; {:id {:type (non-null ID)}
  ;  :created_at {:type Int}
  ;  :updated_at {:type Int}
  ;  :date {:type String}
  ;  :category {:type :Category
  ;             :resolve :Transaction/category}
  ;  :title {:type String}
  ;  :description {:type String}
  ;  :tags {:type (list (non-null String))}
  ;  :splits {:type (list (non-null :Split))}}}

  ;:Template
  ;{:fields
  ; {:id {:type (non-null ID)}
  ;  :category {:type :Category
  ;             :resolve :Template/Category}
  ;  :title {:type String}
  ;  :description {:type String}
  ;  :tags {:type (list (non-null String))}
  ;  :splits {:type (list (non-null :Split))}}}

  ;:Split
  ;{:fields
  ; {:person {:type :Person
  ;           :resolve :Split/person}
  ;  :amount Int}}

  ;:Total
  ;{:fields
  ; {:category {:type (non-null :Category)
  ;             :resolve :Total/category}
  ;  :person {:type (non-null :Person)
  ;           :resolve :Total/person}
  ;  :total {:type (non-null Int)}}}}

 :subscriptions
 {:people
  {:type :person_event
   :stream :subscriptions/people}

  :categories
  {:type :category_event
   :stream :subscriptions/categories}}}

  ;:transactions
  ;{:type (non-null (list (non-null :Transaction)))
  ; :args {}
  ; :resolve :queries/transactions}

  ;:templates
  ;{:type (non-null (list (non-null :Template)))
  ; :resolve :queries/templates}

  ;:totals
  ;{:type (non-null (list (non-null :Total)))
  ; :resolve :queries/totals}}}
